---
import '../styles/base.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Privacy News | Web3Privacy Now</title>
	</head>
	<body>
        <div class="m-4 sm:m-8">
            <div class="flex w-full">
                <div class="flex gap-6">
                    <div class="w3pn-logo h-10"></div>
		            <h1 class="text-4xl">Privacy News</h1>
                </div>
                <div class="grow"></div>
                <div>
                    <a href="https://github.com/web3privacy/news">GitHub</a>
                </div>
            </div>
            <div class="mt-10">
                <slot />
            </div>
        </div>
	</body>
</html>
